#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.navbar {
    background-color:transparent;
    border-bottom: transparent 0;

    .container {
        border-bottom: #e7e7e7 solid 1px;
    }
 }

 .footer {
    background-color:transparent;
    border-top: transparent 0;
    margin-top: 70px;
    padding:0;
    text-align: center;

    .container {
        border-top: #e7e7e7 solid 1px;
        padding-top:30px;
    }
 }
